body{
  background-color: rgb(68, 66, 94);
}

button{
  padding: 15px;
  margin: 25px;
}

#block{
  padding: 45px;
  margin: 25px;
  background-color: teal;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

h3{
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 25px;
}